.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    gap: 20px;
} 

.google-logo {
    display: block;
    width: 300px;
}

.search-field {
    background: white;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    padding: 10px 16px;
    display: block;
    width: 400px;
    outline: none;
    box-shadow: none;
}

.search-buttons {
    display: flex;
    gap: 10px;
}

.search-buttons button {
    background: white;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    padding: 5px 12px;
}

.search-buttons button:hover {
    background: #dfe1e5;
}

.search-buttons button:active {
    background: #bfc1c5;
}