:root {
    /* Colors */
    --bg-color: #ffffff;
    --shadow-color: #00000033;
    --text-color: #0c1014;

    /* Animations */
    --btn-hover: scale 0.15s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #0c1014;
        --shadow-color: #ffffff33;
        --text-color: #ffffff;
    }
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Typography */

h1 {
    line-height: 0;
    margin: 0;
}

.semi-bold {
    font-weight: 600;
}

.location {
    font-size: 12px;
}

/* Header */

header {
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header * {
    min-width: 0;
}

#header-avatar {
    border-radius: 50%;
}

#header-avatar * {
    display: block;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Post */

.post {
    width: 468px;
    margin-bottom: 20px;
    padding-bottom: 16px;
}

.post-header {
    padding: 0 10px 12px 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.post-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-left: 8px;
}

.post-header-info * {
    margin: 0;
}

.more-options {
    margin: auto 0 auto auto;
}

.post-header .selection-box {
    padding: 8px;

}

.more-options * {
    margin: 4.5px 0 4.5px 16px;
}

.post-img {
    width: inherit;
    height: auto;
    max-height: 585px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px var(--shadow-color);
}

@media (max-width: 468px) {
    .post {
        width: 100%;
    }

    .post-img {
        border-radius: 0;
        box-shadow: none;
    }
}

.post-footer {
    padding: 0 12px;
}

.post-footer-bar {
    margin: 4px 0;
    display: flex;
    align-items: center;
}

.post-footer-btn {
    scale: 1;
    transition: var(--btn-hover);
}

@media (hover: hover) {
    .post-footer-btn:hover {
        scale: 1.05;
    }
}

.post-footer-btn:active {
    scale: 0.95;
}

@keyframes pop {
    0% {
        transform: scale(0.95);
    }

    33% {
        transform: scale(1.15);
    }

    66% {

        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.pop-anim {
    animation: pop 0.4s ease-in-out 0.5s;
}

.like {
    color: inherit;
}

.like[aria-pressed="true"] {
    color: #fe3141;
}

.is-animating {
    animation: pop 0.4s ease-in-out;
}

.post-footer-item {
    padding: 8px;
    margin-left: -8px;
    box-sizing: border-box;
}

.post-footer-text {
    line-height: inherit;
    font-size: 14px;
    margin-right: 4px;
}

.post-footer-text-empty {
    margin-right: 0px !important;
}

.save {
    margin-left: auto;
    margin-right: -8px;
}

.post-footer-description {
    margin: 0;
}

/* Shared */

svg {
    display: block;
}

.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
}