body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    color: #7dadff;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: url("images/galaxy.webp") center;
    background-size: cover;
}

#logo {
    width: 150px;
    margin-top: 20px;
}

#title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#title-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

#apply-button {
    font-size: 24px;
    padding: 10px 20px;
    font-family: inherit;
    color: inherit;
    font-weight: 900;
    background: white;
    border: none;
}

#terms {
    text-align: center;
    margin-top: 35px;
}

.underline {
    border-bottom: 4px solid #ffffff;
}