/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("images/toronto.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

#hero h1 {
    color: #F1FAEE;
    background: #1D3557;
    border-radius: 10px;
    margin: 10px;
    padding: 4px 12px;
}

#hero h3 {
    color: #F1FAEE;
    background: #457B9D;
    border-radius: 10px;
    margin: 10px;
    padding: 4px 12px;
    width: 350px
}

@media (max-width: 500px) {
    #hero h3 {
        width: 300px;
    }
}

#activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F1FAEE;
}

#activities h2 {
    padding-top: 20px;
}

@media (max-width: 500px) {
    #activities h2 {
        width: 350px;
    }
}

#activities h2,
.activity-h4,
.activity-p {
    color: #1D3557;
}

#activities-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F1FAEE;
    padding-bottom: 10px;
}

.activity {
    flex: 0 0 auto;
    margin: 20px;
    width: 200px;
}

@media (max-width: 750px) {
    #activities-flex {
        flex-direction: column;
    }
}

.activity-img {
    border-radius: 50%;
    width: 100px;
    box-shadow: #0000004F 0 0 20px;
}

#guide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #A8DADC;
    border-bottom: 6px solid #457B9D;
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    width: 320px;
    height: 200px;
    margin: 50px auto;
}

#guide-text {
    color: #1D3557;
}

#guide img {
    height: 95%;
}