body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1B244A;
    border: 10px solid #9AABD8;
    border-radius: 20px;
    width: 575px;
    height: 385px;
    margin: 50px;
}

.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 155px;
    gap: 20px;
    margin: 20px;
}

.team-title {
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.score-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #080001;
    border-radius: 5px;
    width: inherit;
}

.score {
    position: absolute;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    font-weight: 400;
    color: #F94F6D;
    margin: 0;
    transform: translateY(10px);
    z-index: 1;
}

.score-text-bg {
    position: absolute;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    font-weight: 400;
    color: #1f0a0e;
    margin: 0;
    transform: translateY(10px);
}

.score-btn-row {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.score-btn {
    width: 45px;
    height: 45px;
    background: #00000000;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.score-btn:hover {
    background: #0000004F;
}

.score-btn:active {
    background: #0000008F;
}