html, body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    min-height: 400px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 400px;
    background: #85cb33;
    border-bottom: 10px solid #3b341f;
}

#pfp {
    height: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#card-text {
    padding: 0 20px;
    color: #efffc8;
    text-align: center;
    background: #3b341f;
}
